* {
    box-sizing: border-box;
  }

.landing-main {
    min-width: 375px;
    min-height: 500px;
    background-image: url("src/assets/airbean-landing.svg");
    background-repeat:no-repeat;
    background-position: center center;
}
.landing-images {
    display: flex;
}
.landing-images-right {
    margin-left: auto;
}