* {
    box-sizing: border-box;
  }
body {
    margin: 0;
}  
.landing-main {
    width: 375px;
    min-height: 667px;
    background-color: #38846d;
    background-image: url("src/assets/airbean-landing.svg");
    background-repeat:no-repeat;
    background-position: center center;
}
.landing-images {
    display: flex;
}
.landing-images-right {
    margin-left: auto;
}