.nav-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #2f2926;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease-in-out;
    z-index: 1;

}

.nav-menu a {
    color: white;
    text-decoration: none;
    font-size: 2em;
    margin: 1em;
}