@import url("https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap");



.cart {
    min-width: 375px;
    min-height: 667px;
    background-color: #F3E4E1;
    background-image: url('/src/assets/graphics-header.svg'), url('/src/assets/graphics-footer.svg');
    background-repeat: no-repeat, no-repeat;
    background-position: top center, bottom center;
    padding-bottom: 20%;
}

.cart-title {
    font-family: "PT Serif", serif;
    font-weight: 700;
    font-style: normal;
    font-size: 42px;
    line-height: 27.6px;
    margin: 10px;
    text-align: center;
}

.cart-order__title {
    padding: 1rem;
    margin: 0;
    text-align: center;
    font-weight: 700;

}

.nav-container {
    width: 48px;
    height: 48px;
    background-color: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav {
    width: 25px;
}

.cart-container {
    margin-bottom: 2rem;
    padding: 1rem 1rem 0rem 1rem;
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;
}

.cart-icon {
    width: 60px;
    height: 60px;
    background-image: url("./src/assets/cart.svg");
    background-position: center;
}

.cart-order-main {
    background-color: #fbf8f8;
    font-size: 20px;
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
    left: 15%;
    bottom: 15%;
    padding: 10px;
}

.cart-order__products {
    display: flex;
    flex-direction: column;
    font-weight: 700;
    padding: 10px;
}

.cart-product-price {
    padding: 0px 0px 10px 0px;
    margin: 0;
    font-size: 12px;
    font-family: work sans, sans-serif;
    font-weight: 400;
}

.cart-order__product-info {
    display: flex;
    flex-direction: column;
}


.cart-product-title {
    display: flex;
    align-items: last baseline;
    margin-bottom: 0.2rem;

}

.cart-product-title::after {
    content: "";
    flex-grow: 1;
    border-bottom: 2px dotted #0000008a;
    margin-right: 10px;
}


.cart-remove-btn{
    font-family: "PT Serif", serif;
    width: 248px;
    height: 55px;
    border-radius: 30px;
    background-color: #2f2926;
    color: white;
    font-size: 24px;
    font-weight: 700;
    line-height: 28.8px;
    justify-self: center;
    margin-bottom: 40px;
    
    

}
.cart-total {
    display: flex;
    align-items: baseline
}

.cart-total__title {
    font-weight: 700;
    font-size: 23px;
    font-family: "PT Serif", serif;
    margin-right: 10px;
}

.cart-dotted-line {
    flex-grow: 1;
    border-bottom: 1px dotted #2F2926;
    margin-right: 10px;
}

.cart-total__sum {
    font-weight: 700;
    font-size: 23px;
    font-family: "PT Serif", serif;
    margin-left: 10px;
}


.cart-total__text {
    font-size: 12px;
    font-family: work sans, sans-serif;
    margin-top: 5px;
}