@import url("https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap");


.products-container {
  display: flex;
  flex-direction: row;
  margin-left: 1rem;
}
.product-title,
.product-price {
  font-family: "PT Serif", serif;
  font-weight: 700;
  font-style: normal;
  font-size: 23px;
  line-height: 27.6px;
  margin: 10px;
  color: #2F2926;
}
.product-price {
    margin-left: auto;
}
.add-btn {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: #2F2926;
  color: rgb(255, 255, 255);
  font-size: 1.9rem;
  font-family: "PT Serif", serif;
  line-height: 10px;
  border: none;
  margin-left: 1rem;
  margin-top: 8px;
}
.product-info {
  display: flex;
  width: 18rem;
}
